@import "./../functions";
@import "./../mixins";
@import "./../variables";
@import "./../maps";
@import "./../utilities";

$theme-name: "dark-theme" !default;
$theme-prefix: "dark" !default;

.#{$theme-name} {
  @import "dark/variables";
  @import "dark/utilities";

  // Colors
  @each $color, $value in $theme-colors-dt {
    --#{$prefix}#{$color}: #{$value};
  }

  // Gradients
  @each $color, $map in $theme-gradients-dt {
    --#{$prefix}#{$color}-start: #{map-get($map, "start")};
    --#{$prefix}#{$color}-stop: #{map-get($map, "stop")};
  }

  @include theme($theme-map);

  // Button variants

  @each $state, $variant in $alert-variants-dt {
    $alert-background: map-get($variant, "alert-bg");
    $alert-border: map-get($variant, "alert-border");
    $alert-color: map-get($variant, "alert-color");

    .alert-#{$state} {
      @include alert-variant($alert-background, $alert-border, $alert-color);
    }
  }

  // Button variants

  @each $state, $variant in $button-variants-dt {
    .btn-#{$state} {
      @include button-variant($variant);
    }
  }

  @each $state, $variant in $button-outline-ghost-variants-dt {
    .btn-outline-#{$state} {
      @include button-outline-variant($variant);
    }
  }

  @each $state, $variant in $button-outline-ghost-variants-dt {
    .btn-ghost-#{$state} {
      @include button-ghost-variant($variant);
    }
  }

  // List group variants

  @each $state, $variant in $list-group-variants-dt {
    .list-group-item-#{$state} {
      @include list-group-item-variant($state, $variant);
    }
  }

  // Utilities
  // stylelint-disable-next-line no-invalid-position-at-import-rule
  @import "./../utilities/api";
}
